<h1>All Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li> <strong><%= restaurant.name %></strong> | <%= restaurant.category.capitalize %> | <%= restaurant.address %> | <%= restaurant.phone_number %> </li>
  <% end %>
</ul>
